{% extends "base/base.html" %}

{% block content %}
    <body class="min-h-screen flexbox2"  style="
    background-image: linear-gradient(to right, #0000008c 0%, #0000008c 100%), url('https://img.freepik.com/foto-gratis/mano-humana-escribiendo-teclado-computadora-noche-generada-ai_188544-31050.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    ">
        <section class="bg-white rounded-lg w-115 max-md:w-3/4_w h-auto px-5 py-6 flexbox1 gap-5">
            <h2 class="font-bold font-ubuntu tracking-widest text-center text-3xl">{% block title_auth %}{% endblock title_auth %}</h2>

            <form method="post" class="flex flex-col gap-6">
                {% csrf_token %}
                {% block inputs %}{% endblock inputs %}

                
                {% block btn_auth %}{% endblock btn_auth %}
                
            </form>

            <div>
                <p class="font-raleway tracking-wide text-center">
                    {% block text_alt %}{% endblock text_alt %}
                </p>
            </div>
        </section>     
    </body>
{% endblock content %}